<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Webshot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Webshot.Properties.Settings>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="MobileWidth" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="TabletWidth" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value />
            </setting>
            <setting name="PerformanceFilePath" serializeAs="String">
                <value />
            </setting>
        </Webshot.Properties.Settings>
    </userSettings>
</configuration>