<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net472" />
</packages>